@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal font stack */
.button-chat-font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.video-animation {
    animation: video-animate 2s infinite ease-in-out ;
}

@keyframes video-animate {
    0% {
        transform: scale(1);
        rotate: -6deg;
    }
    50% {
        transform: scale(1.05);
        rotate: -5deg;
    }
    100% {
        transform: scale(1);
        rotate: -6deg;
    }
    
}